<nav class="navbar ">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="../">
        <img src="https://siasky.net/EAD8NJMejpi-MCtxdtuxtyS6xYdKPtoX55mslejYCQyl_w" alt="Logo" />
      </a>
      <span class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item is-active" href="/">Home</a>
        <a class = "navbar-item is-active" href="/corporate/voter/login">Voter - Login</a>
        <a class="navbar-item" href="/corporate/poll">Voter - Vote</a>
        <a class="navbar-item" href="/corporate/about">About</a>
        <a class="navbar-item" href="/corporate/contact">Contact Us</a>
        <a class="navbar-item">Help</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Admin</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/corporate/admin/signup">Sign Up</a>
            <a class="navbar-item" href="/corporate/admin/login">Log In</a>
            <a class="navbar-item" href="/corporate/project/add">Add Project</a>
            <a class="navbar-item" href="/corporate/executives/add">Add Shareholders</a>
            <a class="navbar-item" href="/corporate/admin/start">Start Vote</a>
            <a class="navbar-item" href="/corporate/admin/end">End Vote</a>
            <hr class="navbar-divider" />
            <a href="{{ url_for("adminLogOut") }}"><div class="navbar-item" >Logout</div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
