<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon" />
  <title>Modal Cards - Free Bulma template</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/hero.css" />
  <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;700&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
  <style>
    .columns:nth-child(2) {
      margin-top: -10rem;
    }
  </style>
</head>

<body>
  {% include 'head.html' %}
  <section class="container">
    <div class="columns features">
      {% for i in projects %}
      <div class="column is-4">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="../static/uploads/{{i.image}}" alt="Placeholder image" class="modal-button"
                data-target="modal-image2" />
            </figure>
          </div>

          <form method="post">
            <div class="card-content">
              <div class="content">
                <h4>{{i.title}}</h4>
                <p>{{i.description}}</p>
                <div class="field">
                  <div class="control">
                    {% if current_user.has_voted %}
                    <button class="button is-link" name="{{i.title}}" value="{{i.title}}" disabled>Submit</button>
                    {% else %}
                    <button class="button is-link" name="{{i.title}}" value="{{i.title}}">Submit</button>
                    {% endif %}
                  </div>
                </div>
          </form>

        </div>
      </div>
    </div>
    </div>
    {% endfor %}
  </section>

  <!-- 3dFlipVertical card tiny -->
  <!-- <div id="modal-card" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-tiny">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="https://source.unsplash.com/6Ticnhs1AG0"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img
                    src="http://www.radfaces.com/images/avatars/linda-barret.jpg"
                    alt="linda barret avatar"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Jane Doe</p>
                <p class="subtitle is-6">@jane_doe</p>
              </div>
            </div>
            <div class="content">
              Laum Ipsum junkah potatoes bookin' it. Moosetown rig up I'm
              tellin' you way up north bookin' it can't get theyah from heeyah
              native bean suppah whawf Powrtland Museum of Aht, back woods
              hawsun around the pit mummah Yessah, mummah muckle riyht on'ta her
              Bean's dinnahbucket bub geez bud sumpin' fierce ayuhpawt Bangah
              naw, Powrtland Museum of Aht down cellah sumpin' fierce hoppa bub
              If you can't stand the wintah you don't deserve the summah slower
              than molasses going uphill in January. Sgn'wahl shoggor hrii uaaah
              R'lyeh uh'e k'yarnak Hastur hupadgh li'hee, hai f'nilgh'ri
              nilgh'ri n'ghftor ngftaghu vulgtlagln h'hrii throd Nyarlathotep
              lloig, naflsll'ha nnnsll'ha athg y-ebunma goka chtenff ehyeog
              cehye. Zhro y'hah nogoth phlegeth stell'bsna orr'e ph'Hastur
              gnaiih throd, uln ya lw'nafh mg nar'luh li'hee wgah'n, sgn'wahl mg
              nakadishtu chlirgh hupadgh tharanak h'gnaiih.
              <a>@bulmaio</a>.
              <a href="#">#css</a>
              <a href="#">#responsive</a>
              <br />
              <time datetime="2018-02-02">12:45 AM - 20 June 2018</time>
            </div>
          </div>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div> -->
  <!-- end tiny modal card -->
  <!-- 3dFlipVertical card tiny [butterfly] -->
  <!-- <div id="modal-card2" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-tiny">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="https://source.unsplash.com/hLyd1LukQ7E"
                alt="butterfly"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img
                    src="http://www.radfaces.com/images/avatars/linda-barret.jpg"
                    alt="linda barret avatar"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Jane Doe</p>
                <p class="subtitle is-6">@jane_doe</p>
              </div>
            </div>
            <div class="content">
              Laum Ipsum junkah potatoes bookin' it. Moosetown rig up I'm
              tellin' you way up north bookin' it can't get theyah from heeyah
              native bean suppah whawf Powrtland Museum of Aht, back woods
              hawsun around the pit mummah Yessah, mummah muckle riyht on'ta her
              Bean's dinnahbucket bub geez bud sumpin' fierce ayuhpawt Bangah
              naw, Powrtland Museum of Aht down cellah sumpin' fierce hoppa bub
              If you can't stand the wintah you don't deserve the summah slower
              than molasses going uphill in January. Sgn'wahl shoggor hrii uaaah
              R'lyeh uh'e k'yarnak Hastur hupadgh li'hee, hai f'nilgh'ri
              nilgh'ri n'ghftor ngftaghu vulgtlagln h'hrii throd Nyarlathotep
              lloig, naflsll'ha nnnsll'ha athg y-ebunma goka chtenff ehyeog
              cehye. Zhro y'hah nogoth phlegeth stell'bsna orr'e ph'Hastur
              gnaiih throd, uln ya lw'nafh mg nar'luh li'hee wgah'n, sgn'wahl mg
              nakadishtu chlirgh hupadgh tharanak h'gnaiih.
              <a>@bulmaio</a>.
              <a href="#">#css</a>
              <a href="#">#responsive</a>
              <br />
              <time datetime="2018-02-02">12:45 AM - 20 May 2018</time>
            </div>
          </div>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div> -->
  <!-- end tiny modal card -->
  <!-- Image modal -->
  <!-- <div id="modal-image2" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-huge is-image">
        <img src="https://source.unsplash.com/RWnpyGtY1aU" alt="image" />
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div> -->
  <!-- bulma template footer by stemitom -->
  <div class="column is-8 is-offset-2">
    <br />
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <span class="icon">
            <i class="fab fa-twitter"></i>
          </span>
          &emsp;
          <span class="icon">
            <i class="fab fa-facebook"></i>
          </span>
          &emsp;
          <span class="icon">
            <i class="fab fa-instagram"></i>
          </span>
          &emsp;
          <span class="icon">
            <i class="fab fa-github"></i>
          </span>
          &emsp;
          <span class="icon">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>
      <div class="level-right">
        <small class="level-item" style="color: var(--textLight)">
          &copy; Super Cool Website. All Rights Reserved.
        </small>
      </div>
    </nav>
  </div>
  <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js"></script>
  <script src="../js/wild.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      //The first argument are the elements to which the plugin shall be initialized
      //The second argument has to be at least a empty object or a object with your desired options
      OverlayScrollbars(document.querySelectorAll("body"), {});
    });
  </script>
</body>

</html>