{% for i in projects %}
<div class="column is-4">
    <div class="card is-shady">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="../static/uploads/{{i.image}}"
            alt="Placeholder image"
            class="modal-button"
            data-target="modal-image2"
          />
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <h4>{{i.title}}</h4>
          <p>
           {{i.description}}
          </p>
          <span
            class="button is-link modal-button"
            data-target="modal-image2"
            >Vote</span
          >
        </div>
      </div>
    </div>
  </div>
{% endfor %}
